n8n/Builderbot.json
{
  "name": "Builderbot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "932f6e53-2066-4430-90d7-0d1b7c8ad16c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "functionCode": "const message = `¡Hola! Tu código de descuento es: ${$json[\"couponCode\"]}. ¡Gracias por reciclar!`; return { message };"
      },
      "name": "Function Node - Format Message",
      "type": "n8n-nodes-base.function",
      "position": [
        580,
        120
      ],
      "id": "135c100b-58e7-448b-a998-80a81c716048",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "WhatsApp Node - Send Message",
      "type": "n8n-nodes-base.whatsapp",
      "position": [
        1380,
        -260
      ],
      "id": "e69a34cb-bd89-4ac2-b4e9-c9838bc44df8",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respond",
      "position": [
        1360,
        -80
      ],
      "id": "ab953826-fac8-4f6f-a251-c84c64ffe7a1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Trigger1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        380,
        120
      ],
      "id": "4d23895e-4655-4bae-9dd1-d851b0fe1e90",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "functionCode": "const orderData = $json; return { orderData };"
      },
      "name": "Function Node - Process Order",
      "type": "n8n-nodes-base.function",
      "position": [
        680,
        -60
      ],
      "id": "42eca254-7676-451a-bfb4-eaaeadaa2542",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "orderId": "={{$node[\"Function Node - Process Order\"].json[\"orderData\"]['orderId']}}",
        "updateFields": {}
      },
      "name": "Shopify Node - Update Order",
      "type": "n8n-nodes-base.shopify",
      "position": [
        920,
        -60
      ],
      "id": "b84c9887-c0d8-44b6-babe-1c6105f51f90",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Trigger2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        -60
      ],
      "id": "e66b3f24-c0c5-4ec6-b905-9da5562df60d",
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respond",
      "position": [
        1360,
        80
      ],
      "id": "d2f16d9a-f987-4b6f-ac3d-76915096629f",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        -260
      ],
      "id": "e12b59fa-f010-49db-a747-481b1aa57a42",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "functionCode": "const couponCode = Math.random().toString(36).substring(2, 10); return { couponCode };"
      },
      "name": "Function Node - Generate Coupon",
      "type": "n8n-nodes-base.function",
      "position": [
        840,
        -260
      ],
      "id": "cb7c4518-4c70-458a-a2f9-685dee4ec314",
      "typeVersion": 1
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "name": "Shopify Node - Create Discount",
      "type": "n8n-nodes-base.shopify",
      "position": [
        1200,
        -260
      ],
      "id": "e35ea4b4-51d0-4ead-b39a-9e96a45b12a3",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respond",
      "position": [
        1360,
        240
      ],
      "id": "93527ff9-cafa-40d1-aff8-5a43726fea74",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Trigger1": {
      "main": [
        [
          {
            "node": "Function Node - Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Node - Process Order": {
      "main": [
        [
          {
            "node": "Shopify Node - Update Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Trigger2": {
      "main": [
        [
          {
            "node": "Function Node - Process Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Trigger": {
      "main": [
        [
          {
            "node": "Function Node - Generate Coupon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Node - Generate Coupon": {
      "main": [
        [
          {
            "node": "Shopify Node - Create Discount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64304812-28a7-4d05-b5b0-369c21ef2157",
  "meta": {
    "instanceId": "58c8b3bd03648a5a1354b6e3eb36176899745eb398800bfe9dd39c73b655ed1b"
  },
  "id": "LnuMyrVk18IB6SLZ",
  "tags": []
}